@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --bg-color: #222222;
  --primary-color: #434242;
  --secondary-color: #22a39f;
  --text-color: #f3efe0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.container__fluid {
  width: 100%;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1080px;
  margin: 0 auto;
}
